# This is the configuration used locally. 
# It should be renamed to config.yml

patches:
  filename: patches.dat
  seed: 2021-05-29T19:00:00.000Z
  length: 7 # days
  interval: "60h" # 60 hours
  dateFormat: '%%d/%%m/%%Y %%H:%%M'

pushover:
  server: api.pushover.net:443
  api:

recipients:
  one:
    name: matt
    key: key
  two:
    name: matt
    key: key

quotes:
  server: zenquotes.io
  api: /api/random