# This is the configuration used locally. 
# It should be renamed to config.yml

patches:
  seed: 2021-06-02T19:00:00Z
  interval: 60h0m0s
pushover:
  server: https://api.pushover.net
  api: /1/messages.json
  token: xxx
recipients:
- name: name1
  key: xx
- name: name2
  key: ""
quotes:
  server: https://zenquotes.io
  api: /api/random
